body{
	/* background-image: url("../img/中航掌控.home.jpg"); */
	background-position-x: 50%;
}
.body{
	max-width: 972px;
	*width: 972px;
	margin: 0px auto;
	font-size: 12px;
	font-family: "Microsoft yahei","微软雅黑","Tahoma","Verdana","Arial","sans-serif";
}
.body a{
	color: #0C7FEA;
}

#head {
	padding-top: 61px;
	background-image: url("../img/logo.png");
	/*background-image: url("../img/logo-word.png");*/
	background-position-y: 50%;
	background-repeat: no-repeat;
}


#lang span a{
	color: #808080;
	text-decoration: none;
	font-size: 9px;
}
#lang{
	float: right;
	position: relative;
}
#log_in_out{
	text-align: right;
}
#door{
	text-align: right;
}
#search{
	position: relative;
	top: -20px;
}
#search_text{
	float: right;
	padding-top: 4px;
}
#search_text input{
	width: 111px;
	background-image: url("../img/search.png");
	background-repeat: no-repeat;
	background-position: 100% 0%;
	border: 1px #9a9a9a solid;
}
.nav-item{
	text-align: center;
	border-left: 1px solid #FFF;
	cursor: pointer;
	padding-right: 8px;
	padding-left: 8px;
	_overflow: hidden;
}
#nav a {
	text-decoration: none;
}
#nav h2{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 6px;
	padding-bottom: 15px;
	_padding-bottom:7px;
	color: #fff;
	height: 19px;
}
#banner{
	height: 364px;
	overflow: hidden;
}
#banner .tohidden{
	z-index: 0;
}
.banner-item{
	/*margin-top: 0px;
	margin-left: 0px; */

	background-color: #38A3F5;
	height: 364px;
	position: absolute;
	width: 100%;
	/*width: 972px;*/
}
.banner-item .out{height:100%;width:100%;position:relative;overflow:hidden;}
.banner-item .mid{position:absolute;left:50%;width:1000px;text-align:center;}
.banner-item .in{position:relative;left:-95%;_left:-50%;}

#banner-nav{
	float: right;
	list-style: none;
	margin-top: -34px;
}
#banner-nav .active{
	background-color: orange;
}
#banner-nav li{
	width: 12px;
	height: 12px;
	background-color: #1D1D1D;
	position: absolute;
	border-radius: 6px;
	cursor: pointer;
	font-size: 0px;
	z-index: 1;
}
#main-head{
	height: 50px;
	background-image: url("../img/produce-head-bg.png");
	background-repeat: no-repeat;
	text-align: right;
	background-position-y: -2px;
}
.product-item{
	margin-top: 10px;
	margin-bottom: 10px;
}
.product-content{
	box-shadow: 2px 2px 10px #868686;
	height: 155px;
	width: 94%;
	background-color: #FeFeFe;
	position: relative;
	z-index: 10;
	behavior: url(PIE.htc);
}
.product-show{
	height: 100%;
	width: 40%;
	float: left;
	background-color: black;
	background-image: url("../img/produce-show.jpg");
}
.product-detial{
	float: left;
	width: 60%;
}
#main{
	padding-bottom: 35px;
	/*background-color: #F7F7F7;*/
}
.server-list{
	width: 24%;
}
#footer{
	padding-top: 58px;
	text-align: center;
}
.out-body-footer{
	background-color: #3A9CF7;
	height: 405px;
	background-image: url("../img/footer-bg.png");
}
#lang span a:hover{
	text-decoration: underline;
}
.out-body-nav{
	background-color: #0C7FEA;
	background-image: url("../img/nav-bg.png");
	height: 40px;
	*overflow: hidden;
}
.out-body-benner{
	background-color: #E2E2E2;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #AFAFAF;
	/*margin-top: 12px;*/
}

.product-item-center{
	padding-left: 1%;
	margin-left: auto;
	margin-right: auto;
}
.product-item-right{
	margin-left: auto;
}
#footer a{
	color: #F6F5F3;
	text-decoration: none;
	font-weight: bold;
}
.server-list ul{
	list-style: none;
	padding: 0px;
}
.server-list li{
	padding-top: 6px;
}
.icon-h4{
	/* background-color: #40A0F8; */
	height: 102px;
	display: block;
	background-repeat: no-repeat;
	background-position: 50%;
}
#footer a:hover{
	text-decoration: underline;
}
/* .help-buy{
	background-image: url("../img/help-buy.png");
}
.help-sold{
	background-image: url("../img/help-sold.png");
}
.help-proxy{
	background-image: url("../img/help-proxy.png");
}
.help-office{
	background-image: url("../img/help-office.png");
} */
.out-body-main{
	background-color: #F7F7F7;
}
.news-list{
	list-style: none;
	float: right;
}
.news h3{
	float: left;
	color: #0C7FEA;
	margin-top: 0.8em;
	font-size: 1.3em;
	margin-left: 194px;
	_margin-left: 100px;
}
.news-time{
	padding-left: 14px;
}
.news-list li{
	margin-right: 106px;
}
#nav{
	border-right: 1px solid #FFF;
	overflow: hidden;
}
.news-title a{
	font-size: 1.2em;
	color: #333;
	text-decoration: none;
}
.news-time a{
	font-size: 1.2em;
	color: #999;
}
.news-title a:hover{
	text-decoration: underline;
}
.inc-logo{
	height: 95px;
	background-image: url("../img/footer-logo.png");
	background-repeat: no-repeat;
}
.inc-phone{
	height: 72px;
	background-image: url("../img/inc-phone.png");
	background-repeat: no-repeat;
}
.inc-email{
	text-align: left;
}
.vertical-line{
	background-image: url("../img/vertical-line.png");
	background-repeat: repeat-y;
	background-position: 50%;
	width: 40px;
	height: 245px;
}
.copyright{
	text-align: center;
}
.copyright h4{
	color: #EEE;
	font-size: 12px;
	font-family: "微软雅黑","宋体";
	margin-top: 4.5em;
	font-weight: 200;
}
.nav-content-item{
	cursor: default;
	margin: 0px;
	background-color: #FFFFFF;
	min-height: 200px;
	height: auto;
	_height:200px;
	position: relative;
	min-width: 600px;
	width: auto;
	_width:600px;
	z-index: 2;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#55A7F3', Direction=135, Strength=2);
	box-shadow: 0px 1px 2px #55A7F3;
	border: 1px solid #55A7F3;
	border-radius: 0px 0px 6px 6px;
	border-top: 0px;
}
.nav-item-hover{
	background-color: #0b65bb;
	background-image: url("../img/triangle.gif");
	background-repeat: no-repeat;
	background-position: 50% 32px;
	_background-position:61px 32px;
} 
/*
 *essay.html
 */

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}
.essay-list{
	/*width: 25%;*/
	/*background-image: url("../img/vertical-line-essay.png");*/
	background-repeat: repeat-y;
	padding-right: 4.1667%;
	background-position: 90% 0;
	margin-top: -16px;
	padding-top: 8px;
}
#essay{
	padding-top: 35px;
	padding-bottom: 30px;
}
.essay-content{
	margin-top: -16px;
	background-image: url("../img/vertical-line-essay.png");
	background-repeat: repeat-y;
	padding-left: 4.8667%; 
	margin-left: -4.1667% !important;
	_margin-left: -3.1667%;

	/*width: 75%;*/
}
.essay-nav{
	/*-webkit-transform: scale(0.9);*/
	text-align: right;
	font-size: 12px;
	color: #9a9a9a;
	margin-top: 1.5em;
}
.essay-nav .next{
	padding-left: 5px;
	padding-right: 5px;
}
.essay-nav .focus{
	color: #4fabff;
}
.essay-nav a{
	font-size: 1em;
	color: #9a9a9a;
	text-decoration: none;
}
.essay-nav a:hover{
	text-decoration: underline;
}
.essay-list h2{
	font-size: 1.7em;
	margin: 0px;
	color: #fea000;
	margin-left: 2px;
}
.essay-list ul{
	margin-top: auto;
	list-style: none;
	padding-left: 0px;
	width: 172px;
}


.essay-list-item{
	font-size: 1.3em;
	padding-top: 6px;
	padding-bottom: 9px;
	padding-left: 20px;
	border: 1px #dbdbdb solid;
	line-height: 1em;
}
#essay_title{
	font-size: 2.1em;
	margin: 0.4em 0 0.5em 0;
	color: #01284F;
}
.essay-list-item a{
	color: #4a4a4a;
	font-weight: bold;
	text-decoration: none;
	display: block;
}
.essay-list-item a:hover{
	color:#3A9CF7;
}
.essay-list .hover a:hover{
	color:#FFF;
}
.essay-list .hover{
	background-color: #52acff;
	background-image: url("../img/sj-white.png");
	background-repeat: no-repeat;
	background-position: 95% 50%;
}
.essay-list .hover a{
	color:#FFF;
}
.essay-content hr{
	margin-top: 1.4em;
	width: 100%;
	height: 3px;
	background-color: #A0A0A0;
	border: 0px;
	+height: 4npx;
	+margin-top: -1em;
}
.essay-banner{
	float: left;
	/*+padding-top: 35px;*/
	width: 0;/*IE7-*/
}
.essay-banner-item{
	background-color: #f4f4f4;
	color: #858585;
	padding: 0px 0px 30px 0px;
	margin-top: 10px;
	/*_margin-bottom: 30px;*/
	position: absolute;
	z-index: 10;
	behavior: url(PIE.htc);
	border: 1px #DBDBDB solid;
}
.essay-banner .info{
	+margin-bottom: 45px;
}
.essay-banner .contact{
	margin-top: 200px;
}
.essay-banner-item .essay-list-head{
	border: 0px;
}
.essay-banner-item .detail{
	border-top: 1px #DBDBDB solid;
	padding-top: 10px;
	padding-left:5px;
	width: 165px;
}
.essay-banner-item p{
	/* -webkit-transform : scale(0.8); 
	-o-transform : scale(1);
	font-size: 9px; */
	font-family: "宋体";
	margin: 0.1em 0em;
}
.essay-banner-item a{
	color: #4fabff;
	font-family: "Tahoma","Verdana","Arial","sans-serif";
	text-decoration: none;
}
.essay-banner-item a:hover{
	text-decoration: underline;
}
/* 
.essay-vertical-line{
	border-left: 1px #A0A0A0 solid;
	height: 300px;
}
 */
.contact{
	margin-top: 33px;
}
.essay-list h3{
	font-size: 0.8em;
	font-weight: 100;
	margin: 0;
	color: #FEA000;
}
.essay-list-head{
	text-align: center;
	width: 170px;
	border: 1px #DBDBDB solid;
	border-bottom: 0px;
	padding: 1.4em 0;
	background-image: url("../img/essay-list-head-bg.png");
}